<a href="/browse" style="display: inline-flex; flex-direction: column; align-items: flex-start; text-decoration: none">
    <!-- <div style="display: flex; flex-direction: row; gap: 5px; align-items: flex-end; color: var(--primary)">
        <h3 style="font-family: Times New Roman; font-weight: bold; margin-bottom: 0">
            ToolPool
        </h3>
        est. 2026
    </div> -->
    <h3 class="lp-wordmark" style="font-size: calc(1.3rem + .6vw); margin-bottom: 0">Tool<em>Pool</em></h3>
    <span style="color: #848484">Share Tools, Build Community</span>
</a>