<div style="display: flex; justify-content: space-between">
    <span>
        CS 501 S2 : Agile Mobile Application Development
    </span>

    <span>
        Yat Long Chan, Nathan Djunaedi, Xiang Hu, Jude Lopez, Yitao Wang
    </span>

    <a href="https://github.com/exoticbubble15/toolPool" target="_blank" style="color: black">
        https://github.com/exoticbubble15/toolPool
    </a>
</div>