@using BlazorBootstrap
@inject NavigationManager NavManager

<div style="width: 25vw; height: 100%">
    <Button Class="sidebarButton" Type="ButtonType.Link" Color="ButtonColor.Success" To="/browse">Browse</Button>
    <Button Class="sidebarButton" Type="ButtonType.Link" Color="ButtonColor.Success" To="/cart">Cart</Button>
    <Button Class="sidebarButton" Type="ButtonType.Link" Color="ButtonColor.Success" To="/profile">Profile</Button>
    @* <Button Class="but" Type="ButtonType.Link" Color="ButtonColor.Primary" To="/stripe">Stripe</Button> *@
</div>