@using System.Net
@using BlazorBootstrap
@using ToolPool.Client.Services
@inject NavigationManager Navigation
@inject HttpClient Http
@inject AuthService AuthService

<span style="display: flex; align-items: center; gap: 5px">
    @if(authenticated)
    {
        <Button Class="headerButton" Type="ButtonType.Link" Color="ButtonColor.Success" To="/profile">Profile</Button>
        <Button Class="headerButton" Type="ButtonType.Link" Color="ButtonColor.Success" To="/logout">Logout</Button>
    } else
    {
        <Button Class="headerButton" Type="ButtonType.Link" Color="ButtonColor.Success" To="/login">Login</Button>
    }
</span>

@code {
    private bool authenticated;

    protected override void OnInitialized()
    {
        authenticated = false;
    }

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync(Navigation.ToAbsoluteUri("/api/auth/status"));
        if (response.IsSuccessStatusCode)
        {
            authenticated = true;
        }
    }
    // switch login to users page if authenticated
} 
