@inherits LayoutComponentBase
@using ToolPool.Client.Layout.Components

@* HEADER *@
<div style="padding: 15px; padding-top: 5px; padding-bottom: 5px; background: #ffffff; box-shadow: 10px 2px var(--divide); display: flex; justify-content: space-between">
    <Brand />
    <User />
</div>

@* PAGE CONTENT *@
<div style="padding: 15px">
    <main style="margin: 2px">@Body</main>
</div>