<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["ToolPool.styles.css"]" />
    <ImportMap />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=Instrument+Sans:wght@400;500;600&display=swap" rel="stylesheet">

    @* blazor bootstrap *@
    <link href="_content/Blazor.Bootstrap/blazor.bootstrap.css" rel="stylesheet">
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="@Assets["_framework/blazor.web.js"]"></script>

    @* blazor google maps *@
    <script src="_content/BlazorGoogleMaps/js/objectManager.js"></script>

    @* blazor bootstrap *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="_content/Blazor.Bootstrap/blazor.bootstrap.js"></script>

    @* sendbird *@
    <script src="https://cdn.jsdelivr.net/npm/@@sendbird/chat@@4/sendbird.min.js"></script>
    <script src="js/sendbird-interop.js"></script>

    @* browser location *@
    <script src="js/browser-location.js"></script>
</body>

</html>