@page "/map"
@rendermode InteractiveWebAssembly
@using BootstrapBlazor.Components
@using GoogleMapsComponents
@using GoogleMapsComponents.Maps

@* loading icon before map renders *@
@if(!mapLoaded)
{
    <div style="display: flex; flex-direction: column; align-items: center">
        <Spinner />
        <i>loading map </i>
    </div>
}

<GoogleMap @ref="map"
           Options="mapOptions"
           Height="80vh"
           OnAfterInit="mapRenderDone">
</GoogleMap>

@code {
    private bool mapLoaded = false;
    private GoogleMap map;
    private MapOptions mapOptions = new MapOptions()
    {
        Zoom = 15,
        Center = new LatLngLiteral(42.3604, -71.0580), //city hall
        MapId = "39cf637b3be049e5f469447c", //custom map and style
        MapTypeId = MapTypeId.Roadmap,
        MapTypeControl = false,
        StreetViewControl = false
    };

    //called once the map renders, disable loading
    private void mapRenderDone()
    {
        mapLoaded = true;
    }
}