@page "/"
@using BlazorBootstrap


@* <div style="height: 10000%; background: green">
    <h3>Home Page</h3>
    Jude Lopez, Yat Long Chan, Yitao Wang, Nathan Djunaedi, Xiang Hu
</div> *@
<h3>Home Page</h3>
Jude Lopez, Yat Long Chan, Yitao Wang, Nathan Djunaedi, Xiang Hu

@* CHANGE TO:
IF AUTHENTICATED: REDIRECT TO /BROWSE
ELSE: REDIRECT TO /LOGIN *@